@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 8px;
  background-image: url(../img/sfondo.png);
}

header {
  text-align: center;
  text-transform: uppercase;
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background: #020024;
  background: linear-gradient(359deg, rgba(2, 0, 36, 1) 0%, rgba(0, 135, 166, 1) 23%);
  margin-bottom: 1rem;
}

header a {
  color: white; /* This specifically targets anchor tags within the header */
}

main {
  background-color: rgb(255, 255, 255);
}

.divider {
  height: 1rem;
  background-color: black;
}

article {
  max-width: 800px;
  margin: auto;
  padding: 1.5rem; /* QUESTO crea i bordi bianchi */
}

section {
  max-width: 800px;
  margin: auto;
  padding: 1.5rem; /* QUESTO crea i bordi bianchi */
}

h1 {
  font-size: clamp(3rem, 4vw, 3rem);
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 1.2rem;
}
h2 {
  font-size: 1.7rem;
  font-style: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}

p#ownerarticle {
  color: rgba(88, 97, 105, 0.582);
  font-size: 1.7rem;
  margin-bottom: 1.2rem;
}

p {
  font-size: 1.7rem;
  margin-bottom: 1.2rem;
}

.scolor {
  color: rgb(168, 38, 118);
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ul,
ol {
  margin: 1rem 0;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  font-size: 1rem;
}

li {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

code {
  background-color: rgb(222, 222, 223);
  border-radius: 4px;
  border: 1px solid #bcbcbc;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 2rem 0;
  border-bottom: 3px solid #1e57cc;
  padding-bottom: 0.5rem;
}

th {
  background: #1e57cc; /* blu */
  color: white;
  padding: 1rem;
  text-align: left;
}

td {
  padding: 1rem;
  border-bottom: 1px solid #e5e5e5;
}

tbody tr:nth-child(even) {
  background: #f5f5f5; /* righe alternate */
}

iframe {
  text-align: center;
  border-radius: 25px;
  width: 100%;
  margin-bottom: 2rem;
}

.newsletter {
  text-align: center;
  background-color: rgb(233, 226, 228);
}

.secondsection {
  background-color: rgb(233, 226, 228);
  max-width: 800px;
  margin-bottom: 2rem;
  padding: 1.5rem; /* QUESTO crea i bordi bianchi */
}

p.correlated2 {
  text-align: left;
  font-size: 1rem;
}
